html {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-color: #fef0e5;
}

a {
    text-decoration: none;
    color: #36454F;
    font-weight: 800;
    font-size: 1.2rem;
}

a:hover {
    background-color: lightgray;
}

.div-guest-info, .div-check-in {
    display:block;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

form {
    background-color: lightgray;
    width: 80vw;
    margin: 0 auto;
}

.guest-info-input {
    width: 200px;
}
